header{font-family: Arial, Helvetica, sans-serif; text-align: center; color: beige;}
body{background-image: url( https://i.blogs.es/af261d/escape_velocity/1366_2000.jpg);}
nav {text-align: center; padding: 15px; color: coral; } 
article { text-align: justify; color: beige;}
footer{ color: white;}