header{font-family: Arial, Helvetica, sans-serif; text-align: center; color: beige;}
body{background-image: url( https://st2.depositphotos.com/1175677/12327/v/450/depositphotos_123277816-stock-illustration-black-wood-background-wallpaper-backdrop.jpg);}
nav {text-align: center; padding: 15px; color: coral; } 
article { text-align: justify; color: beige;}
footer{ color: white;}
.futbol{color: darkgoldenrod; font-style: italic;}  
.ciber{color: blanchedalmond;font-family: Georgia, 'Times New Roman', Times, serif;}
.tigre{color: cornflowerblue;font-family:fantasy ;}
.balon{border: dotted;}
.tech{border: ridge;}
.azul{border: dashed;}
.europa{font-family: Arial, Helvetica, sans-serif;}
.cursos{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.campin{font-family: cursive;}